<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
      </div>
      <h1>Add Cat</h1>
      <form method="post" action="/petcustomers/create">
        <label for="catid">Cat_ID:</label>
        <input type="text" id="catid" name="catid" />
        <br />
        <label for="customerid">Customer_ID:</label>
        <input type="text" id="customerid" name="customerid" />
        <br />
    
        <input type="submit" value="ADD" />
      </form>
      <a href="/Petcustomer">Back to List</a>
    
</body>
</html>