<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Order</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <style>
        body {
            background-color: #FFE5B4;
        }
    </style>
</head>

<body>
    <h1>Update Order</h1>
    <form method="post" action="/petcustomers/update/<%= petcustomers.petcustomer_id %>">
        <h2>Number ID : <%= petcustomers.petcustomer_id %></h2>
        <label for="cat_id">Cat ID:</label>
        <input type="text" id="cat_id" name="cat_id" value="<%= petcustomers.cat_id %>">
        <br>
        <label for="customer_id">Customer ID:</label>
        <input type="text" id="customer_id" name="customer_id" value="<%= petcustomers.customer_id %>">
        <br>
        
        <input type="submit" value="Update">
    </form>
    <a href="/petcustomers">Back to List</a>
</body>
</html>